<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h4>&copy; Copyright <span class="farm"><a href="/">Last Bench</a></span> 2020</h4>
        </div>
        <div class="col-md-4 col-sm-12">
          <h4 class="call"><i class="fa fa-phone"></i>: <a href="tel:+918258926316">+91-8258926316</a></h4>
        </div>
        <div class="foot col-md-4 col-sm-12">
          <ul>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<script src="../js/core.js"></script>  
</body>
</html>
  