<h1>Add a new course</h1>
<form action="/admin/courses" method="POST">
    <input type="text" name="code" placeholder="Enter course Code..">
    <input type="text" name="name" placeholder="Enter course Name..">
    <button>Submit</button>
</form>