<h1>Edit comment</h1>

<form action="/dashboard/<%= user._id %>/<%= post_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <input type="text" name="text" value="<%= comment.text %>">
    <button type="submit">Update</button>
</form>