<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Error | Last Bench</title>
  </head>
  <body>

<div id="main">
<div class="container">
    <span class="back"><a href="/dashboard"><i class="fa fa-arrow-left"></i> Go back</a></span>
    <div class="errordiv">
      <img width="500px" height="500px" src="../img/cry.PNG" alt="cry">
      <h3>Oops! Seems like you forgot your classroom!</h3>
    </div>
</div>
</div>


<%-  include('partials/footer') %>
<script src="../js/core.js"></script>  
</body>
</html>
  